{:dependencies [[orchestra "2021.01.01-1"]
                ;; dev
                [binaryage/devtools "1.0.7"]]

 :source-paths ["dev",
                "src",
                "test"]

 :nrepl        {:port 8778}

 :builds       {:astrox {:target     :browser
                         :output-dir "target/app/js"
                         :asset-path "/js"
                         :modules    {:main {:init-fn astrox.core/start}}
                         :dev        {:modules {:main {:init-fn  astrox.core-dev/start
                                                       :preloads [cljs.user]}}}}

                :test   {:target   :browser-test
                         :test-dir "target/test"
                         :dev-http {8283 {:root "target/test"}}}}

 :dev-http     {8282 {:roots ["resources/public", "target/app"]}
                8283 {:root "target/test"}}}
